Repository tpolecat/doobie, pull requests merged in 2023-09, with the labels that each got.

#1910 Add `WeakAsync.liftIO`
  modules/free/src/main/scala/doobie/WeakAsync.scala
Labels: free

#1912 Fix fragment helpers to handle fragments without spaces at the end (i.e. fr0, sql interpolator)
  modules/core/src/main/scala/doobie/util/fragments.scala
  modules/core/src/test/scala/doobie/util/FragmentsSuite.scala
Labels: core

#1928 Fix link rot in postgres docs
  modules/docs/src/main/mdoc/docs/15-Extensions-PostgreSQL.md
Labels: docs
