Repository tpolecat/doobie, pull requests merged in 2023-06, with the labels that each got.

#1853 Resynchonize Freegen2 code generation
  .github/workflows/ci.yml
  build.sbt
  modules/free/src/main/scala/doobie/free/blob.scala
  modules/free/src/main/scala/doobie/free/callablestatement.scala
  modules/free/src/main/scala/doobie/free/clob.scala
  modules/free/src/main/scala/doobie/free/connection.scala
  modules/free/src/main/scala/doobie/free/databasemetadata.scala
  modules/free/src/main/scala/doobie/free/driver.scala
  modules/free/src/main/scala/doobie/free/kleisliinterpreter.scala
  modules/free/src/main/scala/doobie/free/nclob.scala
  modules/free/src/main/scala/doobie/free/preparedstatement.scala
  modules/free/src/main/scala/doobie/free/ref.scala
  modules/free/src/main/scala/doobie/free/resultset.scala
  modules/free/src/main/scala/doobie/free/sqldata.scala
  modules/free/src/main/scala/doobie/free/sqlinput.scala
  modules/free/src/main/scala/doobie/free/sqloutput.scala
  modules/free/src/main/scala/doobie/free/statement.scala
  modules/postgres/src/main/scala/doobie/postgres/free/copyin.scala
  modules/postgres/src/main/scala/doobie/postgres/free/copymanager.scala
  modules/postgres/src/main/scala/doobie/postgres/free/copyout.scala
  modules/postgres/src/main/scala/doobie/postgres/free/kleisliinterpreter.scala
  modules/postgres/src/main/scala/doobie/postgres/free/largeobject.scala
  modules/postgres/src/main/scala/doobie/postgres/free/largeobjectmanager.scala
  modules/postgres/src/main/scala/doobie/postgres/free/pgconnection.scala
  project/FreeGen2.scala
Labels: postgres, free

#1849 Replace logHandler with label in Query and Update
  modules/core/src/main/scala/doobie/aliases.scala
  modules/core/src/main/scala/doobie/util/fragment.scala
  modules/core/src/main/scala/doobie/util/package.scala
  modules/core/src/main/scala/doobie/util/query.scala
  modules/core/src/main/scala/doobie/util/transactor.scala
  modules/core/src/main/scala/doobie/util/update.scala
  modules/core/src/test/scala-2/doobie/util/LogSuitePlatform.scala
  modules/core/src/test/scala-3/doobie/util/LogSuitePlatform.scala
  modules/core/src/test/scala/doobie/issue/262.scala
  modules/core/src/test/scala/doobie/util/LogSuite.scala
  modules/core/src/test/scala/doobie/util/StrategySuite.scala
  modules/docs/src/main/mdoc/docs/03-Connecting.md
  modules/docs/src/main/mdoc/docs/10-Logging.md
  modules/example/src/main/scala/example/Coproduct.scala
  modules/free/src/main/scala/doobie/free/kleisliinterpreter.scala
  modules/free/src/main/scala/doobie/util/log.scala
  modules/h2/src/main/scala/doobie/h2/H2Transactor.scala
  modules/postgres/src/main/scala/doobie/postgres/free/kleisliinterpreter.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/connection.scala
  project/FreeGen2.scala
Labels: core, docs, example, h2, postgres, free

#1876 Rework fragment helpers
  modules/core/src/main/scala/doobie/util/fragments.scala
  modules/core/src/test/scala/doobie/util/FragmentsSuite.scala
Labels: core

#1877 Add orFallbackFalse, andFallbackTrue
  modules/core/src/main/scala/doobie/util/fragments.scala
  modules/core/src/test/scala/doobie/util/FragmentsSuite.scala
Labels: core

#1878 HikariTransactor: Default logHandler to None
  modules/docs/src/main/mdoc/docs/14-Managing-Connections.md
  modules/hikari/src/main/scala/doobie/hikari/HikariTransactor.scala
Labels: docs, hikari

#1879 Fix letter case in HikariTransactor
  modules/hikari/src/main/scala/doobie/hikari/HikariTransactor.scala
Labels: hikari

#1880 Remove unnecessary context bound for HikariTransactor.apply
  modules/hikari/src/main/scala/doobie/hikari/HikariTransactor.scala
Labels: hikari
