Repository tpolecat/doobie, pull requests merged in 2023-12, with the labels that each got.

#1960 Make freeGen2 run manually (but verified by CI)
  .github/workflows/ci.yml
  CONTRIBUTING.md
  PUBLISHING.md
  build.sbt
  project/FreeGen2.scala
Labels: merge-on-build-success

#1939 Allow for different effects of HikariTransactor and its creation
  modules/docs/src/main/mdoc/docs/14-Managing-Connections.md
  modules/hikari/src/main/scala/doobie/hikari/HikariTransactor.scala
Labels: docs, hikari

#1962 Upgrade postgis to 2023.1.0 / postgres-jdbc to 42.7.1
  build.sbt
  modules/docs/src/main/mdoc/docs/15-Extensions-PostgreSQL.md
  modules/postgres/src/main/scala/doobie/postgres/free/kleisliinterpreter.scala
  modules/postgres/src/main/scala/doobie/postgres/free/largeobject.scala
  modules/postgres/src/main/scala/doobie/postgres/pgisgeographyinstances.scala
  modules/postgres/src/main/scala/doobie/postgres/pgisinstances.scala
  modules/postgres/src/test/scala/doobie/postgres/TypesSuite.scala
  project/build.sbt
Labels: docs, postgres

#1966 Cleanup some imports
  build.sbt
  modules/free/src/main/scala/doobie/free/kleisliinterpreter.scala
Labels: free

#1967 Opt in auto derivation
  modules/core/src/main/scala-2/doobie/enum.scala
  modules/core/src/main/scala-2/util/GetPlatform.scala
  modules/core/src/main/scala-2/util/PutPlatform.scala
  modules/core/src/main/scala-2/util/ReadPlatform.scala
  modules/core/src/main/scala-2/util/WritePlatform.scala
  modules/core/src/main/scala-3/util/GetPlatform.scala
  modules/core/src/main/scala-3/util/PutPlatform.scala
  modules/core/src/main/scala-3/util/ReadPlatform.scala
  modules/core/src/main/scala-3/util/WritePlatform.scala
  modules/core/src/main/scala-3/util/shapeless/OrElse.scala
  modules/core/src/main/scala/doobie/generic/auto.scala
  modules/core/src/main/scala/doobie/package.scala
  modules/core/src/main/scala/doobie/util/analysis.scala
  modules/core/src/main/scala/doobie/util/fragment.scala
  modules/core/src/main/scala/doobie/util/get.scala
  modules/core/src/main/scala/doobie/util/put.scala
  modules/core/src/main/scala/doobie/util/read.scala
  modules/core/src/main/scala/doobie/util/write.scala
  modules/core/src/test/scala-2/doobie/util/GetSuitePlatform.scala
  modules/core/src/test/scala-2/doobie/util/LogSuitePlatform.scala
  modules/core/src/test/scala-2/doobie/util/PutSuitePlatform.scala
  modules/core/src/test/scala-2/doobie/util/ReadSuitePlatform.scala
  modules/core/src/test/scala-2/doobie/util/WriteSuitePlatform.scala
  modules/core/src/test/scala-3/doobie/util/LogSuitePlatform.scala
  modules/core/src/test/scala-3/doobie/util/ReadSuitePlatform.scala
  modules/core/src/test/scala-3/doobie/util/WriteSuitePlatform.scala
  modules/core/src/test/scala/doobie/issue/780.scala
  modules/core/src/test/scala/doobie/util/GetSuite.scala
  modules/core/src/test/scala/doobie/util/LogSuite.scala
  modules/core/src/test/scala/doobie/util/PutSuite.scala
  modules/core/src/test/scala/doobie/util/ReadSuite.scala
  modules/core/src/test/scala/doobie/util/WriteSuite.scala
  modules/core/src/test/scala/doobie/util/meta/MetaSuite.scala
  modules/munit/src/test/scala/doobie/munit/CheckerTests.scala
  modules/postgres/src/main/scala/doobie/postgres/syntax/FragmentSyntax.scala
  modules/specs2/src/test/scala/doobie/specs2/CheckerTests.scala
  modules/weaver/src/test/scala/doobie/weaver/CheckerTests.scala
Labels: core, postgres, munit, specs2, weaver
