Repository tpolecat/doobie, pull requests merged in 2023-11, with the labels that each got.

#1936 Remove reference to ZonedDateTime in pgsql docs
  modules/docs/src/main/mdoc/docs/15-Extensions-PostgreSQL.md
Labels: docs

#1946 Expose "unlabelled" as a constant
  modules/core/src/main/scala/doobie/util/package.scala
Labels: core

#1948 Fix andFallbackTrue docstring
  modules/core/src/main/scala/doobie/util/fragments.scala
Labels: core

#1950 Input Objects GmbH adopter
  modules/docs/src/main/mdoc/index.md
Labels: docs

#1951 Fix future leak
  modules/free/src/main/scala/doobie/WeakAsync.scala
Labels: free
