Repository tpolecat/doobie, pull requests merged in 2024-01, with the labels that each got.

#1961 Split methods for HikariTransactor constructed with two effects
  modules/docs/src/main/mdoc/docs/14-Managing-Connections.md
  modules/hikari/src/main/scala/doobie/hikari/HikariTransactor.scala
Labels: docs, hikari

#1969 Cleanup compile warnings in 2.13
  build.sbt
  modules/core/src/test/scala/doobie/util/GetSuite.scala
  modules/core/src/test/scala/doobie/util/PutSuite.scala
  modules/free/src/main/scala/doobie/free/callablestatement.scala
  modules/free/src/main/scala/doobie/free/connection.scala
  modules/free/src/main/scala/doobie/free/ref.scala
  modules/free/src/main/scala/doobie/free/resultset.scala
  modules/postgres/src/main/scala/doobie/postgres/free/kleisliinterpreter.scala
  modules/postgres/src/main/scala/doobie/postgres/free/pgconnection.scala
  modules/postgres/src/main/scala/doobie/postgres/syntax/FragmentSyntax.scala
  project/FreeGen2.scala
Labels: core, postgres, free

#1789 Improve Java time meta experience
  modules/core/src/main/scala/doobie/package.scala
  modules/core/src/main/scala/doobie/util/meta/legacymeta.scala
  modules/core/src/main/scala/doobie/util/meta/meta.scala
  modules/core/src/main/scala/doobie/util/meta/sqlmeta.scala
  modules/core/src/main/scala/doobie/util/meta/timemeta.scala
  modules/docs/src/main/mdoc/docs/12-Custom-Mappings.md
  modules/docs/src/main/mdoc/docs/15-Extensions-PostgreSQL.md
  modules/docs/src/main/mdoc/docs/17-FAQ.md
  modules/example/src/main/scala/example/CustomReadWrite.scala
  modules/h2/src/test/scala/doobie/h2/h2types.scala
  modules/postgres/src/main/scala/doobie/postgres/JavaTimeInstances.scala
  modules/postgres/src/main/scala/doobie/postgres/package.scala
  modules/postgres/src/test/scala/doobie/postgres/CheckSuite.scala
  modules/postgres/src/test/scala/doobie/postgres/TypesSuite.scala
  modules/postgres/src/test/scala/doobie/postgres/util/arbitraries/TimeArbitraries.scala
Labels: core, docs, example, h2, postgres
