Repository tpolecat/doobie, pull requests merged in 2024-05, with the labels that each got.

#2008 PostgreSQL Range Types
  build.sbt
  modules/docs/src/main/mdoc/docs/15-Extensions-PostgreSQL.md
  modules/example/src/main/scala/example/PostgresRange.scala
  modules/postgres/src/main/scala/doobie/postgres/package.scala
  modules/postgres/src/main/scala/doobie/postgres/rangeinstances.scala
  modules/postgres/src/main/scala/doobie/postgres/types/Range.scala
  modules/postgres/src/test/scala/doobie/postgres/TypesSuite.scala
Labels: docs, example, postgres

#2044 Add parenthesis around each expression in and/or combinator
  modules/core/src/main/scala/doobie/util/fragments.scala
  modules/core/src/test/scala/doobie/util/FragmentsSuite.scala
Labels: core

#2045 Update various plugins and depenencies
  build.sbt
  modules/hikari/src/main/scala/doobie/hikari/Config.scala
  project/plugins.sbt
Labels: hikari

#2046 Remove lazy initialization of modules
  modules/core/src/main/scala/doobie/free/Aliases.scala
  modules/core/src/main/scala/doobie/hi/Aliases.scala
  modules/core/src/main/scala/doobie/hi/connection.scala
  modules/core/src/main/scala/doobie/hi/preparedstatement.scala
  modules/core/src/main/scala/doobie/hi/resultset.scala
  modules/core/src/main/scala/doobie/hi/statement.scala
  modules/core/src/main/scala/doobie/syntax/connectionio.scala
  modules/core/src/main/scala/doobie/util/fragment.scala
  modules/core/src/main/scala/doobie/util/query.scala
  modules/core/src/main/scala/doobie/util/read.scala
  modules/core/src/main/scala/doobie/util/transactor.scala
  modules/core/src/main/scala/doobie/util/update.scala
  modules/core/src/main/scala/doobie/util/write.scala
  modules/core/src/test/scala/doobie/util/TestTypes.scala
  modules/postgres/src/main/scala/doobie/postgres/free/aliases.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/aliases.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/connection.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/largeobject.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/largeobjectmanager.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/lostreaming.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/pgconnection.scala
  modules/postgres/src/main/scala/doobie/postgres/rangeinstances.scala
  modules/postgres/src/main/scala/doobie/postgres/syntax/FragmentSyntax.scala
Labels: core, postgres

#2047 [Doc] Explain the F and C in doobie.FC/HC
  CONTRIBUTING.md
  modules/core/src/main/scala/doobie/hi/preparedstatement.scala
  modules/core/src/main/scala/doobie/util/update.scala
  modules/docs/src/main/mdoc/docs/02-Toolkit.md
Labels: core, docs
