Repository tpolecat/doobie, pull requests merged in 2024-07, with the labels that each got.

#2064 Fix logging for streaming and updateMany
  build.sbt
  modules/bench/src/main/scala/doobie/bench/text.scala
  modules/core/src/main/scala/doobie/hi/connection.scala
  modules/core/src/main/scala/doobie/hi/preparedstatement.scala
  modules/core/src/main/scala/doobie/util/package.scala
  modules/core/src/main/scala/doobie/util/query.scala
  modules/core/src/main/scala/doobie/util/update.scala
  modules/core/src/test/scala-2/doobie/util/LogSuitePlatform.scala
  modules/core/src/test/scala-2/doobie/util/QueryLogSuitePlatform.scala
  modules/core/src/test/scala-3/doobie/util/LogSuitePlatform.scala
  modules/core/src/test/scala-3/doobie/util/QueryLogSuitePlatform.scala
  modules/core/src/test/scala/doobie/util/LogSuite.scala
  modules/core/src/test/scala/doobie/util/QueryLogSuite.scala
  modules/core/src/test/scala/doobie/util/ReadSuite.scala
  modules/core/src/test/scala/doobie/util/UpdateLogSuite.scala
  modules/docs/src/main/mdoc/docs/04-Selecting.md
  modules/docs/src/main/mdoc/docs/05-Parameterized.md
  modules/example/src/main/scala/example/Dynamic.scala
  modules/free/src/main/scala/doobie/util/log.scala
  modules/hikari/src/test/scala/doobie/ResourceCleanupSuite.scala
  modules/log4cats/src/main/scala/doobie/log4cats/Log4CatsDebuggingLogHandler.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/connection.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/largeobjectmanager.scala
  modules/postgres/src/main/scala/doobie/postgres/syntax/syntax.scala
Labels: core, docs, example, postgres, hikari, free, bench, log4cats

#2069 Add source:future / better-monaidic-for for irrefutable pattern in for comprehension
  build.sbt
  modules/bench/src/main/scala/doobie/bench/select.scala
  modules/core/src/main/scala/doobie/hi/resultset.scala
  modules/core/src/main/scala/doobie/util/analysis.scala
  modules/core/src/main/scala/doobie/util/fragment.scala
  modules/core/src/main/scala/doobie/util/get.scala
  modules/core/src/main/scala/doobie/util/put.scala
  modules/core/src/main/scala/doobie/util/query.scala
  modules/core/src/main/scala/doobie/util/transactor.scala
  modules/core/src/main/scala/doobie/util/update.scala
  modules/core/src/main/scala/doobie/util/write.scala
  modules/core/src/main/scala/doobie/util/yolo.scala
  modules/core/src/test/scala/doobie/util/StrategySuite.scala
  modules/core/src/test/scala/doobie/util/TransactorSuite.scala
  modules/example/src/main/scala/example/FreeUsage.scala
  modules/example/src/main/scala/example/GenericStream.scala
  modules/example/src/main/scala/example/OtherSchema.scala
  modules/example/src/main/scala/example/StreamingCopy.scala
  modules/h2-circe/src/main/scala/doobie/h2/circe/Instances.scala
  modules/h2-circe/src/test/scala/doobie/h2/circe/H2JsonSuite.scala
  modules/hikari/src/test/scala/doobie/postgres/PGConcurrentSuite.scala
  modules/postgres-circe/src/main/scala/doobie/postgres/circe/Instances.scala
  modules/postgres-circe/src/test/scala/doobie/postgres/circe/PGJsonSuite.scala
  modules/postgres/src/main/scala-2/doobie/postgres/TextPlatform.scala
  modules/postgres/src/main/scala/doobie/postgres/Instances.scala
  modules/postgres/src/main/scala/doobie/postgres/Text.scala
  modules/postgres/src/main/scala/doobie/postgres/free/kleisliinterpreter.scala
  modules/postgres/src/main/scala/doobie/postgres/free/pgconnection.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/connection.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/largeobjectmanager.scala
  modules/postgres/src/main/scala/doobie/postgres/pgisgeographyinstances.scala
  modules/postgres/src/main/scala/doobie/postgres/pgisinstances.scala
  modules/postgres/src/test/scala/doobie/postgres/LOSuite.scala
  modules/refined/src/main/scala/doobie/refined/Instances.scala
  modules/refined/src/test/scala/doobie/refined/RefinedSuite.scala
  modules/scalatest/src/main/scala/doobie/scalatest/Checker.scala
  modules/specs2/src/main/scala/doobie/specs2/analysismatchers.scala
  project/FreeGen2.scala
Labels: core, example, postgres, specs2, scalatest, hikari, bench, h2-circe, postgres-circe, refined

#2070 Make tuple Read/Write instances available without an import
  build.sbt
  modules/core/src/main/scala-2/doobie/util/GetPlatform.scala
  modules/core/src/main/scala-2/doobie/util/MkReadPlatform.scala
  modules/core/src/main/scala-2/doobie/util/MkWritePlatform.scala
  modules/core/src/main/scala-2/doobie/util/PutPlatform.scala
  modules/core/src/main/scala-2/doobie/util/ReadPlatform.scala
  modules/core/src/main/scala-2/doobie/util/WritePlatform.scala
  modules/core/src/main/scala-3/doobie/util/GetPlatform.scala
  modules/core/src/main/scala-3/doobie/util/MkReadPlatform.scala
  modules/core/src/main/scala-3/doobie/util/MkWritePlatform.scala
  modules/core/src/main/scala-3/doobie/util/PutPlatform.scala
  modules/core/src/main/scala-3/doobie/util/ReadPlatform.scala
  modules/core/src/main/scala-3/doobie/util/WritePlatform.scala
  modules/core/src/main/scala-3/doobie/util/shapeless/OrElse.scala
  modules/core/src/main/scala/doobie/util/read.scala
  modules/core/src/main/scala/doobie/util/write.scala
  modules/core/src/test/scala/doobie/issue/780.scala
  modules/core/src/test/scala/doobie/util/ReadSuite.scala
  modules/core/src/test/scala/doobie/util/WriteSuite.scala
  modules/mysql/src/test/scala/doobie/mysql/util/arbitraries/TimeArbitraries.scala
  modules/postgres/src/test/scala/doobie/postgres/util/arbitraries/TimeArbitraries.scala
Labels: core, postgres, mysql

#2071 docs: related projects
  modules/docs/src/main/mdoc/docs/18-Related-Projects.md
  modules/docs/src/main/mdoc/docs/index.md
Labels: docs
